*{
  margin: 0;
  padding: 0;
  font-family: Century Gothic;
}

.navbar{
width: 100%;
position: absolute;
top: 10px;
right: 0px;
float: right;

}


ul li {
  display: inline-block
}

ul li a {
  color: #fff;
  padding: 5px 20px;
  border: 1px solid transparent;
  text-decoration: none;
  transition: 0.8s ease;
}

ul li a:hover {
  background-color: #fff ;
  color: #000;
}



header{
  background-image: url("https://i.pinimg.com/originals/7d/29/a9/7d29a943d3ec6ad09df23c45f9d6bfdf.gif");
  background-position: center;
    background-size:cover;  
    height: 100vh;
  }

.navbar .current{
  background-color: #000;
}