*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

.navbar{
  width: 100%;
  position: absolute;
  top: 10px;
  right: 0px;
  float: right;

}

  
  ul li {
    display: inline-block
  }
  
  ul li a {
    color: #000;
    padding: 5px 20px;
    border: 1px solid transparent;
    text-decoration: none;
    transition: 0.8s ease;
  }
  
  ul li a:hover {
    background-color: #000 ;
    color: #fff;
  }



  header{
    background-image: url("https://bestanimations.com/media/fall/1174814263fall-nature-owl-animated-gif-9.gif");
    background-position: center;
      background-size:cover;  
      height: 100vh;
    }

.navbar .current{
  background-color: #f8bbd0;
}