*{
  margin: 0;
  padding: 0;
  font-family: Century Gothic;
}

.navbar{
width: 100%;
position: absolute;
top: 10px;
right: 0px;
float: right;

}


ul li {
  display: inline-block
}

ul li a {
  color: #fff;
  padding: 5px 20px;
  border: 1px solid transparent;
  text-decoration: none;
  transition: 0.8s ease;
}

ul li a:hover {
  background-color: #fff ;
  color: #000;
}



header{
  background: linear-gradient(to bottom, #0033cc 7%, #66ffff 91%);;
  background-position: center;
    background-size:cover;  
    height: 100vh;
  }

  .navbar .current{
    background-color: #000;
}
body {
  background: linear-gradient(to bottom, #0033cc 7%, #66ffff 91%);;
  padding-top: 85px;
}


/* skills page styling starts here */



/* Container for skill bars */
.container {
  width: 50%; /* Full width */
  background-color: #ddd; /* Grey background */
  text-align: left; /* Right-align text */
  margin-right: 10px;

}

.skills {
  text-align: left; /* Right-align text */
  height: 0.5rem!important;
}

.html {width: 60%; background-color:  #b71c1c; margin-top: 8px; margin-bottom: 8px; text-align: left;} 
.css {width: 80%; background-color:  #b71c1c; margin-top: 8px; margin-bottom: 8px; text-align: left;} 
.js {width: 40%; background-color:  #b71c1c; margin-top: 8px; margin-bottom: 8px; text-align: left;}  
.php {width: 30%; background-color:  #b71c1c; margin-top: 8px; margin-bottom: 8px; text-align: left;} 
.mysql{width: 80%; background-color: #b71c1c; margin-top: 8px; margin-bottom: 8px; text-align: left;}
.Typescript{width: 80%; background-color: #b71c1c; margin-top: 8px; margin-bottom: 8px; text-align: left;}

.font{
  font-style:oblique;
  font-weight: bold;
}