*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

.navbar{
  width: 100%;
  position: absolute;
  top: 10px;
  right: 0px;
  float: right;

}

  
  ul li {
    display: inline-block
  }
  
  ul li a {
    color: #000;
    padding: 5px 20px;
    border: 1px solid transparent;
    text-decoration: none;
    transition: 0.8s ease;
  }
  
  ul li a:hover {
    background-color: #000 ;
    color: #fff;
  }



  header{
    background-color: white
    }

.navbar .current{
  background-color: gray;
}
body {
    padding-top: 85px;
}


/* skills page styling starts here */

/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container {
  width: 50%; /* Full width */
  background-color: #ddd; /* Grey background */
}

.skills {
  text-align: center; /* Right-align text */
  height: 0.5rem!important;
  color: white; /* White text color */
}

.html {width: 60%; background-color:  #b71c1c; margin-top: 5px; margin-bottom: 5px;} /* Green */
.css {width: 80%; background-color:  #b71c1c; margin-top: 5px; margin-bottom: 5px;} /* Blue */
.js {width: 40%; background-color:  #b71c1c; margin-top: 5px; margin-bottom: 5px;} /* Red */
.php {width: 30%; background-color:  #b71c1c(0, 0, 0); margin-top: 5px; margin-bottom: 5px;} /* Dark Grey */
.mysql{width: 80%; background-color: #b71c1c; margin-top: 5px; margin-bottom: 5px;}
.Typescript{width: 80%; background-color: #b71c1c; margin-top: 5px; margin-bottom: 5px;}