.img {
    clip-path: circle();


}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1565c0;
  }
  
  ul li {
    float: left;
  }
  
  ul li a {
    display: block;
    color: b3e5fc;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  ul li a:hover {
    background-color: #3f51b5 ;
  }

  header{
      background-image: url("https://i.pinimg.com/474x/ec/be/b1/ecbeb1f171d75a3a39f176a8d165bfcd--electric-blue-purple-butterfly.jpg");
  
background-position: center;
background-size: cover;  
height: 100vh;
    }